# ignore environment artifacts
.venv/

# ignore models and vector stores
models/**
data/*.vdb/

# ignore caches, logs, and temporary runtime objects
__pycache__/
cache/
.*.list

# ignore test artifacts
sitemap.xml
scratch.py
Notes.md
*.bak
bak/