# ignore environment artifacts
.venv/

# ignore models and vector stores
models/**
*.vdb/

# ignore caches, logs, and temporary runtime objects
__pycache__/

# ignore test artifacts
test_sitemap.xml
scratch.py
Notes.md