beautifulsoup4==4.12.2
faiss-cpu==1.7.4
html2text==2020.1.16
langchain==0.0.312
lxml==4.9.3
openai==0.28.1
pymupdf==1.23.4
pypdf==3.16.3
streamlit==1.27.2
tiktoken==0.5.1

# needed for local models
llama-cpp-python==0.2.11

# needed for Confluence only
atlassian-python-api==3.41.2
pytesseract==0.3.10
reportlab==4.0.6
rlPyCairo==0.3.0
svglib==1.5.1